@model IEnumerable<BookHub.Models.AnotacaoModel>
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="/css/Anotacoes/Index.css">


@if (TempData["Mensagem"] != null)
{
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="top:24px; right: 24px; position: absolute;z-index:1;">
  <strong>@TempData["Mensagem"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

<div class="container">
    <div class="headerCon" style="padding:0 40px;">
        <div class="contentTitle" style="display: flex; gap:14px;align-items:center;padding: 40px 0;">
<h1>Bem vindo!</h1><img src="/img/WavingHand.png" width="40px" height="40px">
        </div>
        <h3 style="margin-bottom: 32px;font-weight:400">Anotações</h3>
    </div>


@* <table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.Titulo)
</th>
<th>
@Html.DisplayNameFor(model => model.Texto)
</th>
<th>
@Html.DisplayNameFor(model => model.Categoria)
</th>
<th>
@Html.DisplayNameFor(model => model.Cor)
</th>
<th>
@Html.DisplayNameFor(model => model.DataPulicacao)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
<tr>
<td>
@Html.DisplayFor(modelItem => item.Titulo)
</td>
<td>
@Html.DisplayFor(modelItem => item.Texto)
</td>
<td>
@Html.DisplayFor(modelItem => item.Categoria)
</td>
<td>
@Html.DisplayFor(modelItem => item.Cor)
</td>
<td>
@Html.DisplayFor(modelItem => item.DataPulicacao)
</td>
<td>
<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
</td>
</tr>
}
</tbody>
</table> *@

<div class="containerNotes">
    @foreach (var item in Model)
    {
        <div id="note" class="note" data-cor="@Html.DisplayFor(modelItem => item.Cor)">
            <p style="height: 145px; max-width: 100%;font-size:14px;overflow: hidden;">@Html.DisplayFor(modelItem =>
            item.Texto)</p>
            <div class="btnEdit">
                <a class="btnEditLink" asp-action="Edit" asp-route-id="@item.IdAnotacao"><iconify-icon
                        icon="solar:pen-linear"></iconify-icon></a>
                <div class="dropdown">
                    <button class="more btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <iconify-icon icon="mingcute:more-2-fill"></iconify-icon>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a style="color: rgb(207, 18, 18);" class="dropdown-item" data-IdAnotacao="@item.IdAnotacao" onclick="deleteConfirm(this)">Excluir</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal" tabindex="-1" id="modalDelete">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="display: flex;align-items:center;">
            <span class="deleteIcon"><iconify-icon icon="material-symbols:delete-outline"></iconify-icon></span> Excluir Anotação?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que desejar excluir a anotação? Essa ação é irreversível.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form asp-controller="Anotacoes" asp-action="DeleteConfirmed" method="post">
            <button type="submit" class="btn btn-danger" id="confirmDelete">Sim, Excluir</button>
            <input type="hidden" id="IdLivroHidden">
        </form>
      </div>
    </div>
  </div>
</div>







<script src="/js/Anotacoes/Index.js"></script>